{% extends "loggedinlayout.html" %}

{% block title %}
    Channels
{% endblock %}

{% block body %}
    
    <div class="row">{{message}}</div>

    <!-- Two Unequal Columns -->
    <div class="row">
      <div class="col-2"> CHANNEL LIST
        <nav id="channels_a" class="nav flex-column">
          <a class="nav-link" href="#" data-channel="first">First</a>
          <a class="nav-link" href="#" data-channel="second">Second</a>
          <a class="nav-link" href="#" data-channel="third">Third</a>
        </nav>
      </div>
      
      <div class="col-10">CHAT VIEW
        <div id="channel_view">
        </div>
        <div id="post_view">
          POST MESSAGE
          <div class="input-group mb-3">
            <input
              id="channel_message_input"
              type="text" 
              class="form-control" 
              placeholder="Your Post" 
              aria-label="Your Post" 
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button
                id="channel_message_button" 
                class="btn btn-outline-secondary" 
                type="button">
                  Post
              </button>
            </div>
        </div>
      </div>
    
    </div>

{% endblock %}